.content{
    background: #000;
}

body{
    background: black 
}

#top-banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;  
}

#callto-banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: white;
}

#placesto-see{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color:gray;
}

#download-link{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 16px;
    color: aquamarine;
    text-decoration: underline;
    text-align: center 
}

#video-spec{
    position:absolute
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}


